@charset "UTF-8";

html {
	font-size: 100.01%;
	color: #333;
	background-color: #CCC;
}
body {
	background-color: #FAFAFA;
	font-family: sans-serif;
}

@media (min-width: 880px) {
	body {
		margin: 42px auto;
		box-shadow: 0px 0px 15px 12px #777;
		max-width: 800px;
	}
	.center {
		margin: auto 33%;
	}
}
@media (max-width: 879px) {
	body {
		margin: 0;
	}
	.center {
		clear: both;
	}
}

body > * {
	padding: 10px;
}

nav {
	background-color: #77F;
	color: #EEE;
}

.left {
	float: left;
}
.right {
	float: right;
}
.center {
	text-align: center;
	min-width: 300px;
}

footer {
	background-color: #77F;
	color: #EEE;
	font-size: 0.75rem;
	text-align: right;
}

nav A, footer A {
	color: #EEE;
	text-decoration: none;
}

a {
	color: #22F;
}
h1 {
	text-align: center;
	font-family: serif;
	margin: 8px auto;
}
h2 {
	font-family: serif;
}

table.results {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}
table.results tr:hover {
	background-color: #EEE;
}
table.results td {
	padding: 5px;
	vertical-align: top;
}

table.results a {
	text-decoration: none;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.content input[type="text"], .content  input[type="submit"], .content  select {
	width: 200px;
}

em.red {
	color: #F77;
}

A.anchorlink {
	color: black;
	text-decoration: none;
}

P.anchors {
	font-size: 65%;
}